<app-topbar>
  <form class="form-inline my-2 my-lg-0">
    <input
      [formControl]="this.search"
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
  </form>
</app-topbar>
<div class="container">
  <div class="row">
    <ng-template #loading>
      <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
    <ng-container *ngIf="pokemons$ | async as pokemons; else loading">
      <ng-container *ngIf="pokemons.length > 0; else noPokemonFound">
        <app-card
          *ngFor="let pokemon of pokemons"
          [name]="pokemon.species.name"
          [image]="pokemon.sprites.front_default"
          [url]="pokemon.species.url"
          class="col-12 col-sm-6 col-lg-3"
        >
        </app-card>
        <div class="row">
          <div class="col-xs-12 col-12">
            <pagination
              [maxSize]="8"
              [totalItems]="this.totalItems"
              (pageChanged)="pageChanged($event)"
            ></pagination>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noPokemonFound> Not found </ng-template>
  </div>
</div>
