/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.page-item.active .page-link {
  background-color: red;
  border-color: red;
}

.pagination-page {
  &.page-item {
    .page-link {
      color: red;
    }
    &.active {
      .page-link {
        color: white;
      }
    }
  }
}
